{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
{% include "mixins/search_input.html" %}
<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.17.0/video.min.js" defer></script>



<div id='test' oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="pb-52">

    <video id="myvideo" class="video-js vjs-fluid" controls  preload="auto" width="720" height="405"
        data-setup='{ "autoplay": false}'>
        <!-- 노드로 영상스트리밍 -->
        <source id="test" src="http://localhost:3000/{{video.file}}" type="video/mp4">
    </video>
    <div class="mx-auto mt-3 mb-3">

        <h5 class="mb-2 text-xl text-blod">{{video.title}}</h5>
        <div class="flex justify-between">
            <p class="block">
                {% load hitcount_tags %}
                조회수 : {% get_hit_count for video within "days=7"  %} | 
                {{video.created|date:'m월 d일'}}

            </p>
            <div class="block space-x-1" x-data="{ likeshow: false, hate: false }">
                {% if user in like_count.l_user.all %}
                <div class="inline" x-data="{likeshow: true, user: true }">
                    <button @click="likeshow=!likeshow, getlike(likeshow, user)"
                        :class="likeshow ? 'text-red-700' : 'text-black' " id="like"><i
                            class="fas fa-thumbs-up"></i>좋아요({{like_count.counting}})</button>

                </div>
                {% else  %}

                {%  if request.user.is_authenticated  %}
                <div class="inline" x-data="{likeshow: false, user: false }">
                    <button @click="likeshow=!likeshow, getlike(likeshow, user)"
                        :class="likeshow ? 'text-red-700' : 'text-black' " id="like"><i
                            class="fas fa-thumbs-up"></i>좋아요({{like_count.counting}})</button>
                </div>
                {% else %}
                <a href="{% url 'users:login' %}"><i class="fas fa-thumbs-up"></i>좋아요({{like_count.counting}})</a>
                {% endif %}

                {% endif %}

                {%  if request.user.is_authenticated  %}
                
                {% if request.user == video.user %}
                <a href="{% url 'videos:update' video.pk %}"><i class="fas fa-pen"></i> 수정</a>
                <button class="" x-data @click="$store.close.isOpen()"><i class="fas fa-trash"></i>삭제</a></button>
                {% endif %}


                {% else %}
                


                {% endif %}







            </div>
        </div>


    </div>
    <hr class="bg-gray-700 opacity-10" />
    <hr>
    <div class="flex flex-row items-start mt-3">
        {% if video.user.channels.main_image  %}
        <a class="inline" href=""><img class="w-12 h-12 rounded-full" src="{{video.user.channels.main_image.url }}"
                alt=""></a>
        {% else %}
        <a class="inline-block" href=""><img class="w-12 h-12 bg-white rounded-full "
                src="{% static 'images/user_icon.png' %}" alt=""></a>
        {% endif %}


        <div class="flex flex-col w-full h-12 mt-1">
            <p class="ml-3 text-sm text-gray-400">채널명 : {{video.user.channels.name}}</p>
            <p class="ml-3 text-sm text-gray-400">구독자 :
                {% if video.user.channels.subscribescount.counting_channel %}
                {{video.user.channels.subscribescount.counting_channel}}
                {%  else  %}
                0
                {% endif %}
            </p>
        </div>



        <div class="w-1/5 h-12 leading-10 " x-data="{ subshow: false }">

            {%  if request.user.is_authenticated  %}

            {% if video.user != user %}

            {% if  user  in video.user.channels.subscribescount.user.all  %}
            <div class="inline" x-data="{ subshow: true }">
                <button
                    class="w-full h-full text-base font-semibold text-center text-white transition duration-200 ease-in bg-gray-600 rounded-lg shadow-md hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 opacity-70"
                    @click="subshow=!subshow, getsub(subshow)"
                    :class="subshow ? 'text-white bg-red-500 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 ' : '' ">구독
                    <i class="fas fa-heart"></i></button>
            </div>
            {% else %}
            <button
                class="w-full h-full text-base font-semibold text-center text-white transition duration-200 ease-in bg-gray-600 rounded-lg shadow-md hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 opacity-70"
                @click="subshow=!subshow, getsub(subshow)"
                :class="subshow ? 'text-white bg-red-500 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 ' : '' ">구독
                <i class="fas fa-heart"></i></button>

            {% endif %}

            {% endif %}


            {% else %}
            <button
                class="w-full h-full text-base font-semibold text-center text-white transition duration-200 ease-in bg-gray-600 rounded-lg shadow-md hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 opacity-70"
                onclick="notlogin()">구독
                <i class="fas fa-heart"></i></button>

            {% endif %}

        </div>
    </div>

    <div class="w-full h-16 pl-10 pr-10 mt-6 ">
        <p>{{video.description}}</p>

    </div>
    <hr class=" bg-gray-700 opacity-10" />
    <hr>

    <div class="w-full h-12 mt-3 leading-10 " x-data="{ review: false }">
        <button
            class="w-1/5 h-full text-base font-semibold text-center text-white transition duration-200 ease-in bg-gray-600 rounded-lg shadow-md hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 opacity-70"
            @click="review=!review" :class="review ? 'bg-black' : 'bg-gray-600' ">댓글보기</button>
        <div class="mt-6 pb-80" x-show="review">
            <h5 class="font-bold text-xl" id="rlength">댓글{{ reviews|length }}개</h5>
            <hr>
            <div class="w-full py-2 flex items-start h-16 space-x-3 mt-3">

                {% if user.is_authenticated  %}
                
                {% if user.channels.main_image %}
                <img class=" w-12 h-12 rounded-2xl" src="{{user.channels.main_image.url }}" alt="">
                {% else %}
                <img class="w-12 h-12 bg-white rounded-2xl " src="{% static 'images/user_icon.png' %}" alt="">
                {% endif %}
                    
               
                <form class="w-full flex items-start justify-center p-1" onsubmit="formSubmit()">
                    {% csrf_token %}

                    <input name="review"
                        class=" w-full h-full px-3 py-2 leading-tight text-gray-700 border rounded shadow focus:outline-none focus:shadow-outline"
                        type="text">
                    <button
                        class="w-1/6 h-10 px-4  mb-2 ml-2 font-semibold text-purple-700 bg-transparent border border-purple-500 rounded hover:bg-purple-500 hover:text-white hover:border-transparent">작성</button>

                </form>
                {% else %}
                <h5>댓글을 작성하실려면 로그인이 필요합니다.</h5><a class="text-blue-600" href="{% url 'users:login' %}">로그인하기</a>

                {% endif %}


            </div>
            <div id="newreview">
                {% for review in reviews %}

                <div class="mt-10 flex items-start space-x-4 ">

                    {% if review.user.channels.main_image %}
                    <img class=" w-12 h-12 rounded-2xl" src="{{review.user.channels.main_image.url }}" alt="">
                    {% else %}
                    <img class="w-12 h-12 bg-white rounded-2xl " src="{% static 'images/user_icon.png' %}" alt="">
                    {% endif %}


                    <div class="w-full  ">
                        <div class="h-12 flex items-start ">
                            <h5 class="font-semibold">{{review.user.nickname}}</h5>
                            <h5 class="ml-2 opacity-75">{{review.created_string}}</h5>
                            
                            {% if user == review.user %}
                            <a  href="{% url 'reviews:del' review.pk %}" class="ml-4" ><i class="fas fa-times"></i></a>
                            {% endif %}
                                
                           
                        </div>



                    </div>
                </div>
                <p class="ml-16 break-all leading-normal">{{review.post}}</p>

                {% endfor %}
            </div>

        </div>

    </div>


    <div class="mt-3 ">

    </div>



</div>
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-data
    x-show="$store.close.on">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>


        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <!-- Heroicon name: outline/exclamation -->
                        <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            영상 삭제
                        </h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">
                                해당 게시물을 삭제하시겠습니까?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">


                <button type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                    @click="videoclose()">삭제</button>

                <button type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                    x-data @click="$store.close.isOpen()">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    const video = document.querySelector("#myvideo");

    let TotalTime;
    video.addEventListener("loadedmetadata", () => {

        TotalTime = video.duration;
    })

    document.addEventListener('alpine:init', () => {
        Alpine.store('close', {


                on: false,
                play: false,

                isOpen() {

                    this.on = !this.on

                    if (this.on === true) {
                        if (!video.paused) {
                            video.pause();
                            play = true


                        }
                    } else if (this.on === false) {
                        if (play) {

                            video.play();
                            play = false;

                        } else {
                            video.pause();

                        }
                    }

                }

            }

        )
    })


    function videoclose() {
        document.querySelector("#test").src = "";
        video.innerHTML = ""
        setTimeout(() => {
            location.href = "{% url 'videos:delete' pk=video.pk %}";
        }, 1000);
    }

    function notlogin() {
        location.href = "{% url 'users:login'  %}";
    }

    function getsub(subshow) {

        url = "{% url 'sub:edit' video.user.channels.pk %}"
        axios.get(`${url}?sub=${subshow}`).then((response) => {
                console.log("Response >>", response.data)

            })
            .catch(() => {

            })



    }




    let c = parseInt("{{like_count.counting}}")

    function getlike(likeshow, user) {

        url = "{% url 'etcs:like' video.pk %}"
        axios.get(`${url}?like=${likeshow}`).then((response) => {
               


                let d = document.querySelector("#like");
                d.innerHTML = '';
                if (response.data.like === 'true') {
                    if (user === true) {
                        d.innerHTML += '<i class="fas fa-thumbs-up" ></i>좋아요' + '(' + `${c}` + ')'
                    } else {
                        d.innerHTML += '<i class="fas fa-thumbs-up" ></i>좋아요' + '(' + `${c+1}` + ')'
                    }
                }
                if (response.data.like === 'false') {
                    if (user === true) {
                        d.innerHTML += '<i class="fas fa-thumbs-up" ></i>좋아요' + '(' + `${c-1}` + ')'
                    } else {
                        d.innerHTML += '<i class="fas fa-thumbs-up" ></i>좋아요' + '(' + `${c}` + ')'
                    }
                }


            })
            .catch(() => {

            })



    }

    function formSubmit() {
        event.preventDefault();
        axiosSetup()
    }

    function axiosSetup() {
        
        let data = new FormData()
        let reviewlen=document.querySelector('#rlength')
        let t=parseInt("{{ reviews|length }}")
        

        let input_video_id = document.createElement("input");
        input_video_id.setAttribute("type", "text");
        input_video_id.setAttribute("name", "videopk");

        input_video_id.setAttribute("value", "{{video.pk}}")

        data.append('review', document.querySelector('input[name="review"]').value)
        data.append('videopk', input_video_id.value)



        data.append('csrfmiddlewaretoken', '{{csrf_token}}') // setup csrf_token as a post request

        // ....axios post request

        let url = '{% url "reviews:edit"  %}' // self request so we call developer

        axios.post(url, data)
            .then(res => {
                pk=res.data.pk
                let del_url = "{% url 'reviews:del' pk=0 %}".replace('0', pk);

                a=document.querySelector('#newreview')
                a.innerHTML+=`<div class="mt-10 flex items-start space-x-4 ">

                    {% if user.channels.main_image %}
                    <img class=" w-12 h-12 rounded-2xl" src="{{user.channels.main_image.url }}" alt="">
                    {% else %}
                    <img class="w-12 h-12 bg-white rounded-2xl " src="{% static 'images/user_icon.png' %}" alt="">
                    {% endif %}
                
                    
                    <div class="w-full  ">
                        <div class="h-12 flex items-start ">
                            <h5 class="font-semibold">{{user.nickname}}</h5>
                            <h5 class="ml-2 opacity-75">방금 전</h5>
                            
                            <a  href="${del_url}" class="ml-4" ><i class="fas fa-times"></i></a>
                            
                            
                        </div>



                    </div>
                </div>
                <p class="ml-16 break-all leading-normal">${res.data.fields.post}</p>`
                document.querySelector('input[name="review"]').value=""
                t+=1;
                reviewlen.innerText=`댓글${t}개`;

            })
            .catch(e => {


            })
    }







    window.onbeforeunload = function (event) {
        // 표준에 따라 기본 동작 방지 
        //event.preventDefault();
        // ajax 호출 



    }
    
</script>



<style>
    #test {
        width: 600px;
        margin: 0 auto;
    }

    .video-js .vjs-menu-button-inline.vjs-slider-active,
    .video-js .vjs-menu-button-inline:focus,
    .video-js .vjs-menu-button-inline:hover,
    .video-js.vjs-no-flex .vjs-menu-button-inline {
        width: 10em
    }

    .video-js .vjs-controls-disabled .vjs-big-play-button {
        display: none !important
    }

    .video-js .vjs-control {
        width: 3em
    }

    .video-js .vjs-menu-button-inline:before {
        width: 1.5em
    }

    .vjs-menu-button-inline .vjs-menu {
        left: 3em
    }

    .video-js.vjs-paused .vjs-big-play-button,
    .vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
        display: block
    }

    .video-js .vjs-load-progress div,
    .vjs-seeking .vjs-big-play-button,
    .vjs-waiting .vjs-big-play-button {
        display: none !important
    }

    .video-js .vjs-mouse-display:after,
    .video-js .vjs-play-progress:after {
        padding: 0 .4em .3em
    }

    .video-js.vjs-ended .vjs-loading-spinner {
        display: none
    }

    .video-js.vjs-ended .vjs-big-play-button {
        display: block !important
    }

    .video-js *,
    .video-js:after,
    .video-js:before {
        box-sizing: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit
    }

    .video-js.vjs-fullscreen,
    .video-js.vjs-fullscreen .vjs-tech {
        width: 100% !important;
        height: 100% !important
    }

    .video-js {
        font-size: 14px;
        overflow: hidden
    }

    .video-js .vjs-control {
        color: inherit
    }

    .video-js .vjs-menu-button-inline:hover,
    .video-js.vjs-no-flex .vjs-menu-button-inline {
        width: 8.35em
    }

    .video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
        height: 3em;
        width: 6.35em
    }

    .video-js .vjs-control:focus:before,
    .video-js .vjs-control:hover:before {
        text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff
    }

    .video-js .vjs-spacer,
    .video-js .vjs-time-control {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1 1 auto;
        -moz-box-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .video-js .vjs-time-control {
        -webkit-box-flex: 0 1 auto;
        -moz-box-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: auto
    }

    .video-js .vjs-time-control.vjs-time-divider {
        width: 14px
    }

    .video-js .vjs-time-control.vjs-time-divider div {
        width: 100%;
        text-align: center
    }

    .video-js .vjs-time-control.vjs-current-time {
        margin-left: 1em
    }

    .video-js .vjs-time-control .vjs-current-time-display,
    .video-js .vjs-time-control .vjs-duration-display {
        width: 100%
    }

    .video-js .vjs-time-control .vjs-current-time-display {
        text-align: right
    }

    .video-js .vjs-time-control .vjs-duration-display {
        text-align: left
    }

    .video-js .vjs-play-progress:before,
    .video-js .vjs-progress-control .vjs-play-progress:before,
    .video-js .vjs-remaining-time,
    .video-js .vjs-volume-level:after,
    .video-js .vjs-volume-level:before,
    .video-js.vjs-live .vjs-time-control.vjs-current-time,
    .video-js.vjs-live .vjs-time-control.vjs-duration,
    .video-js.vjs-live .vjs-time-control.vjs-time-divider,
    .video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
        display: none
    }

    .video-js.vjs-no-flex .vjs-time-control {
        display: table-cell;
        width: 4em
    }

    .video-js .vjs-progress-control {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: .5em;
        top: -.5em
    }

    .video-js .vjs-progress-control .vjs-load-progress,
    .video-js .vjs-progress-control .vjs-play-progress,
    .video-js .vjs-progress-control .vjs-progress-holder {
        height: 100%
    }

    .video-js .vjs-progress-control .vjs-progress-holder {
        margin: 0
    }

    .video-js .vjs-progress-control:hover {
        height: 1.5em;
        top: -1.5em
    }

    .video-js .vjs-control-bar {
        -webkit-transition: -webkit-transform .1s ease 0s;
        -moz-transition: -moz-transform .1s ease 0s;
        -ms-transition: -ms-transform .1s ease 0s;
        -o-transition: -o-transform .1s ease 0s;
        transition: transform .1s ease 0s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
        visibility: visible;
        opacity: 1;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateY(3em);
        -moz-transform: translateY(3em);
        -ms-transform: translateY(3em);
        -o-transform: translateY(3em);
        transform: translateY(3em);
        -webkit-transition: -webkit-transform 1s ease 0s;
        -moz-transition: -moz-transform 1s ease 0s;
        -ms-transition: -ms-transform 1s ease 0s;
        -o-transition: -o-transform 1s ease 0s;
        transition: transform 1s ease 0s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
        height: .25em;
        top: -.25em;
        pointer-events: none;
        -webkit-transition: height 1s, top 1s;
        -moz-transition: height 1s, top 1s;
        -ms-transition: height 1s, top 1s;
        -o-transition: height 1s, top 1s;
        transition: height 1s, top 1s
    }

    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
    .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
    .video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
        opacity: 0;
        -webkit-transition: opacity 1s ease 1s;
        -moz-transition: opacity 1s ease 1s;
        -ms-transition: opacity 1s ease 1s;
        -o-transition: opacity 1s ease 1s;
        transition: opacity 1s ease 1s
    }

    .video-js.vjs-live .vjs-live-control {
        margin-left: 1em
    }

    .video-js .vjs-big-play-button {
        top: 50%;
        left: 50%;
        margin-left: -1em;
        width: 2em;
        border: none;
        color: #fff;
        -webkit-transition: border-color .4s, outline .4s, background-color .4s;
        -moz-transition: border-color .4s, outline .4s, background-color .4s;
        -ms-transition: border-color .4s, outline .4s, background-color .4s;
        -o-transition: border-color .4s, outline .4s, background-color .4s;
        transition: border-color .4s, outline .4s, background-color .4s;
        background-color: rgba(0, 0, 0, .45);
        font-size: 3.5em;
        border-radius: 50%;
        height: 2em !important;
        line-height: 2em !important;
        margin-top: -1em !important
    }

    .video-js .vjs-menu-button-popup .vjs-menu {
        left: -3em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
        background-color: transparent;
        width: 12em;
        left: -1.5em;
        padding-bottom: .5em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
        background-color: #151b17;
        margin: .3em 0;
        padding: .5em;
        border-radius: .3em
    }

    .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
        background-color: #2483d5
    }

    .video-js .vjs-big-play-button:active,
    .video-js .vjs-big-play-button:focus,
    .video-js:hover .vjs-big-play-button {
        background-color: rgba(36, 131, 213, .9)
    }

    .video-js .vjs-loading-spinner {
        border-color: rgba(36, 131, 213, .8)
    }

    .video-js .vjs-control-bar2 {
        background-color: #000
    }

    .video-js .vjs-control-bar {
        background-color: rgba(0, 0, 0, .3) !important;
        color: #fff;
        font-size: 14px
    }

    .video-js .vjs-play-progress,
    .video-js .vjs-volume-level {
        background-color: #2483d5
    }

    @media (min-width: 1024px) {
        #test {
            width: 1000px;
        }
    }

    @media (max-width: 764px) {
        #test {
            width: 600px;
        }
    }
</style>

{% endblock content %}