{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock title %}
{% block content %}
{% include "mixins/search_input.html" %}
<div class="w-full text-center font-bold mb-3">


    <h5 class="text-3xl text-gray-500">좋아요 표시한 동영상</h5>



</div>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">


    <div class="grid gap-6 row-gap-5 lg:grid-cols-3">


        {% for like in likes  %}



        <div class="overflow-hidden" id="videoitem">
            <div class="relative w-full transition-shadow duration-300 hover:shadow-xl">
                <img class="object-scale-down w-full h-56 mb-3 rounded shadow-lg sm:h-64 md:h-80 lg:h-80"
                    src="{{ like.l_video.thumbnailimage.url }}" alt="image" />
                <a href="{% url 'videos:detail' like.l_video.pk %}" aria-label="Play Video"
                    class="absolute inset-0 flex items-center justify-center w-full h-full transition-colors duration-300 bg-gray-900 bg-opacity-50 group hover:bg-opacity-25">
                    <div
                        class="flex items-center justify-center w-16 h-16 transition duration-300 transform bg-gray-100 rounded-full shadow-2xl group-hover:scale-110">
                        <svg class="w-10 text-gray-900" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M16.53,11.152l-8-5C8.221,5.958,7.833,5.949,7.515,6.125C7.197,6.302,7,6.636,7,7v10 c0,0.364,0.197,0.698,0.515,0.875C7.667,17.958,7.833,18,8,18c0.184,0,0.368-0.051,0.53-0.152l8-5C16.822,12.665,17,12.345,17,12 S16.822,11.335,16.53,11.152z">
                            </path>
                        </svg>
                    </div>
                </a>
            </div>
            <div>
                <div class="flex items-start w-full h-14">

                    <!-- <img src="" alt="" /> -->
                    <div>
                        {% if like.l_video.user.channels.main_image  %}
                        <img class="w-12 h-12 rounded-2xl" src="{{ like.l_video.user.channels.main_image.url }}" alt="">
                        {% else %}
                        <img class="w-12 h-12 bg-white rounded-2xl " src="{% static 'images/user_icon.png' %}" alt="">
                        {% endif %}
                    </div>

                    <div class="w-full">
                        <h6 class="ml-1 text-lg font-bold leading-none sm:text-lg">
                            {{like.l_video.title}}
                        </h6>
                    </div>
                    <div class="w-2/12 sm:w-3/12 md:w-3/12 lg:w-3/12 h-12 px-1" x-data="{ liken:true, video: {{like.l_video.pk}} }">
                        <button class="w-full h-full text-base font-semibold text-center text-white transition duration-200 ease-in bg-red-600 rounded-lg shadow-md hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 opacity-70"
                        @click="liken=!liken, like_button(liken, video)"
                        id="buttonlike"
                        >좋아요 취소</button>
                    </div>
                </div>
                <div class="flex justify-between w-full h-5">
                    <div>
                        <p class="text-gray-700">{{ like.l_video.user.channels.name }}</p>
                    </div>

                    <div class="text-gray-700">

                        <p>
                            {% if like.l_video.created_string == False %}
                            {{like.l_video.created|date:'m월 d일'}}
                            {% else %}
                            {{like.l_video.created_string}}
                            {% endif %}
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <script>
            function like_button(liken, video) {
                
                url = "{% url 'etcs:like' like.l_video.pk  %}"
                
                console.log(url)
                axios.get(`${url}?like=${liken}`).then((response) => {
                        console.log("Response >>", response.data)
        
        
                        let d = document.querySelector("#buttonlike");
                        d.innerText = '';
                        window.location.reload()
        
        
                    })
                    .catch(() => {
        
                    })
        
        
        
            }
        
        
        </script>

        {% endfor %}

    </div>
</div>









{% endblock content %}